{% extends 'base.html.twig' %}

{% block title %}Hello FeedController!{% endblock %}

{% block body %}
<div class="page--feed">
    <div class="section__profile">
        {{ block("profile_tab", "elements/profile_tab.html.twig") }}
        <div class="profile__actions">
            {{ block("sidebar_left", "elements/sidebar_left.html.twig") }}
        </div>
        <div class="profile__tab--time">
            <span id='ct' ></span>  
        </div>

    </div>

    <div class="section__feed">
        <div class="container__form">
            {{ form(form) }}
        </div>
        <div class="container__select--feed">
             <button class="select--personal">Your feed</button>
             <span>|</span>
             <button href="" class="select--public">Public</button>
        </div>

        {% for post in posts %}
            {{ block("post_card", "elements/post_window.html.twig") }}
        {% endfor %}


    </div>

    <div class="section__users">
        <ul>

        </ul>
    </div>
</div>

<script type="text/javascript"> 

var select__public = document.querySelector(".select--public");
var select__personal = document.querySelector(".select--personal");
var post_card = document.querySelectorAll(".post__card")
for(var i = 0; i<post_card.length; i++){

    if(post_card[i].dataset.access=="Public" || post_card[i].dataset.access=="public"){
        post_card[i].style = "display: none;";
    }
}

select__public.style = "opacity:0.5";

select__personal.addEventListener("click", () => {
    select__personal.style = "opacity:1";
    select__public.style = "opacity:0.5";
        for(var i = 0; i<post_card.length; i++){
    if(post_card[i].dataset.access=="Public" || post_card[i].dataset.access=="public"){
        post_card[i].style = "display: none;";
    }
    else{
        post_card[i].style = "display: flex";
    }
}
});

select__public.addEventListener("click", () => {
    select__public.style = "opacity:1";
    select__personal.style = "opacity:0.5";
    for(var i = 0; i<post_card.length; i++){
    if(post_card[i].dataset.access=="Public" || post_card[i].dataset.access=="public"){
        post_card[i].style = "display: flex;";
    }
    else{
        post_card[i].style = "display: none";
    }
}
});





function display_c(){
    var refresh=1000; // Refresh rate in milli seconds
    mytime=setTimeout('display_ct()',refresh)
}

function display_ct() {
    var x = new Date()
    var x1 = x.getMonth() + 1+ "/" + x.getDate() + "/" + x.getFullYear(); 
    x1 = x1 + " - " +  x.getHours( )+ ":" +  x.getMinutes() + ":" +  x.getSeconds();
    document.getElementById('ct').innerHTML = x1;
    display_c();
}


function createdTime(){
    var createdAtElements = document.querySelectorAll("#published");
    for(let i=0; i<createdAtElements.length; i++){
        var time = {{time}}-createdAtElements[i].innerHTML
        if(time<60){
            if(time==1){
                createdAtElements[i].innerHTML = "Posted " +time+ " second ago";
            } else{
                createdAtElements[i].innerHTML = "Posted " +time+ " seconds ago";
            }
        } else{
            time=time/60;
            time=time.toFixed(0);
            if(time>=60){
                time=(time/60).toFixed(0);
                if(time>=24){
                    time=(time/24).toFixed(0);
                    if(time==1){
                        createdAtElements[i].innerHTML= "Posted "+time+" day ago"
                    } else{
                        createdAtElements[i].innerHTML= "Posted "+time+" days ago"
                    }
                } else {
                    if(time==1){
                        createdAtElements[i].innerHTML= "Posted "+time+" hour ago"
                    } else{
                        createdAtElements[i].innerHTML= "Posted "+time+" hours ago"
                    }
                }
            } else{
                if(time==1){
                    createdAtElements[i].innerHTML = "Posted " +time+ " minute ago";
                } else{
                    createdAtElements[i].innerHTML = "Posted " +time+ " minutes ago";
                }
            }
        }
    }
}

createdTime();

</script>
{% endblock %}

