{% extends "base.html.twig" %}

{% block profile %}
<div class="page--profile">
    <div class="profile__banner">
        {% if user.backgroundImage is defined and user.profile.backgroundImage is not empty %}
            <img src="{{ asset('/uploads/'~ user.profile.backgroundImage) }}" alt="">
        {% else %}
            <img src="{{ asset('/images/background_image.jpg') }}" alt="">
        {% endif %}
    </div>
    <div class="profile__info">
        {% if user.profileImage is defined and user.profile.profileImage is not empty %}
            <img class="info__container--image" src="{{ asset('/uploads/'~ user.profile.profileImage) }}" alt="">
        {% else %}
            <img class="info__container--image" src="{{ asset('/images/zuck_image.png') }}" alt="">
        {% endif %}
        <div class="info__navigation">
            {% if show is defined %}
            <a href="{{url('app_chat_send_profile', {'id' : id})}}">
                <img src="{{ asset('/images/mail_icon.png') }}"   alt="">
            </a>
            {% else %}
            <a href="/settings">
                <img src="{{ asset('/images/gear_icon.png') }}"   alt="">
            </a>
            {% endif %}
            <a href="/feed">
                <img src="{{ asset('/images/feed_icon.png') }}"  alt="">
            </a>
            <a href="/people">
                <img src="{{ asset('/images/team_icon.png') }}"  alt="">
            </a>
            <a href="/chat">
                <img src="{{ asset('/images/comment_icon.png') }}"  alt="">
            </a>
            {% if show is defined %}
            {% else %}
            <a href="/logout">
                <img src="{{ asset('/images/close_icon.png') }}"  alt="logout">
            </a>
            {% endif %}
        </div>
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        {% if show is defined %}
            <div class="info__follow">
                <h2>@{{user.username}}</h2>
                {% if isFollowing == false %}
                    <form action="{{ path('app.followers.follow', { 'id': user.id }) }}" method="post">
                        <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                {% else %}
                    <form action="{{ path('app.followers.unfollow', { 'id': user.id }) }}" method="post">
                        <button type="submit" class="btn btn-primary">Unfollow</button>
                    </form>
                {% endif %}
            </div>
        {% else %}
            <h2>@{{user.username}}</h2>
        {% endif %}
        <div class="info__container--text">
            <div class="text__introduction">
                <span>Introduction</span>
                {% if user.profile.briefDescription is defined %}
                    <span class="info__description">{{user.profile.briefDescription}}</span>
                {% else %}
                    <span class="info__description">-</span>
                {% endif %}
            </div>
            <div class="text__description">
                <span>Description</span>
                {% if user.profile.description is defined %}
                    <span class="info__description--brief">{{user.profile.description}}</span>
                {% else %}
                    <span class="info__description--brief">-</span>
                {% endif %}
            </div>
        </div>
        <div class="info__container">   
                {% if show is defined %}
                <a href="/followers/show/{{id}}" class="info__following">
                {% else %}
                <a href="/followers" class="info__followers">
                {% endif %}
                    <img src="{{ asset('/images/people_icon.png') }}" alt="">
                    {% if user.followers is defined and user.followers %}
                        <span>Followers {{followerCount}}</span>
                    {% else %}
                        <span>Followers 0</span>
                    {% endif %}
                </a>
      
            {% if show is defined %}
            <a href="/following/show/{{id}}" class="info__following">
            {% else %}
            <a href="/following" class="info__following">
            {% endif %}
                <img src="{{ asset('/images/heart_icon.png') }}" alt="">
                {% if user.followers is defined and user.followers %}
                    <span>Following {{followingCount}}</span>
                {% else %}
                    <span>Following 0</span>
                {% endif %}
            </a>

            {% if user.location is defined %}
            <div class="info__location">
                <img src="{{ asset('/images/map_icon.png') }}" alt="">
                <span>{{ user.locatiton }}</span>
            </div>
            {% endif %}

            {% if user.date is defined %}
            <div class="info__created">
                <img src="{{ asset('/images/calendar_icon.png') }}" alt="">
                <span>{{ user.date }}</span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="profile__posts">
        {% if posts|length > 0 %}
            {% for post in posts | reverse %}
                {{ block("post_card", "elements/post_window.html.twig") }}
            {% endfor %}
        {% else %}
            <h1>User has no posts.</h1>
        {% endif %}
    </div>
</div>

<script>
function createdTime(){
    var createdAtElements = document.querySelectorAll("#published");
    for(let i=0; i<createdAtElements.length; i++){
        var time = {{time}}-createdAtElements[i].innerHTML
        if(time<60){
            if(time==1){
                createdAtElements[i].innerHTML = "Posted " +time+ " second ago";
            } else{
                createdAtElements[i].innerHTML = "Posted " +time+ " seconds ago";
            }
        } else{
            time=time/60;
            time=time.toFixed(0);
            if(time>=60){
                time=(time/60).toFixed(0);
                if(time>=24){
                    time=(time/24).toFixed(0);
                    if(time==1){
                        createdAtElements[i].innerHTML= "Posted "+time+" day ago"
                    } else{
                        createdAtElements[i].innerHTML= "Posted "+time+" days ago"
                    }
                } else {
                    if(time==1){
                        createdAtElements[i].innerHTML= "Posted "+time+" hour ago"
                    } else{
                        createdAtElements[i].innerHTML= "Posted "+time+" hours ago"
                    }
                }
            } else{
                if(time==1){
                    createdAtElements[i].innerHTML = "Posted " +time+ " minute ago";
                } else{
                    createdAtElements[i].innerHTML = "Posted " +time+ " minutes ago";
                }
            }
        }
    }
}
createdTime();
</script>
{% endblock %}


