{% extends "base.html.twig" %}

{% block profile %}
<div class="page--profile">
    <div class="profile__banner">
        {% if user.backgroundImage is defined and user.profile.backgroundImage is not empty %}
            <img src="{{ asset('/uploads/'~ user.profile.backgroundImage) }}" alt="">
        {% else %}
            <img src="{{ asset('/images/background_image.jpg') }}" alt="">
        {% endif %}
    </div>
    <div class="profile__info">
        {% if user.profileImage is defined and user.profile.profileImage is not empty %}
            <img class="info__container--image" src="{{ asset('/uploads/'~ user.profile.profileImage) }}" alt="">
        {% else %}
            <img class="info__container--image" src="{{ asset('/images/zuck_image.png') }}" alt="">
        {% endif %}
        <div class="info__navigation">
            <a href="/settings">
                <img src="{{ asset('/images/gear_icon.png') }}"   alt="">
            </a>
            <a href="/feed">
                <img src="{{ asset('/images/feed_icon.png') }}"  alt="">
            </a>
            <a href="/people">
                <img src="{{ asset('/images/team_icon.png') }}"  alt="">
            </a>
            <a href="/messages">
                <img src="{{ asset('/images/comment_icon.png') }}"  alt="">
            </a>
        </div>
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        {% if show is defined %}
            <div class="info__follow">
                <h2>@{{user.username}}</h2>
                {% if isFollowing == false %}
                    <form action="{{ path('app.followers.follow', { 'id': user.id }) }}" method="post">
                        <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                {% else %}
                    <form action="{{ path('app.followers.unfollow', { 'id': user.id }) }}" method="post">
                        <button type="submit" class="btn btn-primary">Unfollow</button>
                    </form>
                {% endif %}
            </div>
        {% else %}
            <h2>@{{user.username}}</h2>
        {% endif %}
        <div class="info__container--text">
            <div class="text__introduction">
                <span>Introduction</span>
                {% if user.profile.briefDescription is defined %}
                    <span class="info__description">{{user.profile.briefDescription}}</span>
                {% else %}
                    <span class="info__description">-</span>
                {% endif %}
            </div>
            <div class="text__description">
                <span>Description</span>
                {% if user.profile.description is defined %}
                    <span class="info__description--brief">{{user.profile.description}}</span>
                {% else %}
                    <span class="info__description--brief">-</span>
                {% endif %}
            </div>
        </div>
        <div class="info__container">   
                <a href="/followers" class="info__followers">
                    <img src="{{ asset('/images/people_icon.png') }}" alt="">
                    {% if user.followers is defined and user.followers %}
                        <span>Followers {{followerCount}}</span>
                    {% else %}
                        <span>Followers 0</span>
                    {% endif %}
                </a>
            <a href="/following" class="info__following">
                <img src="{{ asset('/images/heart_icon.png') }}" alt="">
                {% if user.followers is defined and user.followers %}
                    <span>Following {{followingCount}}</span>
                {% else %}
                    <span>Following 0</span>
                {% endif %}
            </a>

            {% if user.location is defined %}
            <div class="info__location">
                <img src="{{ asset('/images/map_icon.png') }}" alt="">
                <span>{{ user.locatiton }}</span>
            </div>
            {% endif %}

            {% if user.date is defined %}
            <div class="info__created">
                <img src="{{ asset('/images/calendar_icon.png') }}" alt="">
                <span>{{ user.date }}</span>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}


