
{% block profile_tab %}
        <div class="profile__tab">
            <a href="{{url('app_profile_show', {'id' : id})}}"><img src="{{ asset('/images/zuck_image.png') }}" alt=""></a>
            <ul>
                {% if firstName is defined %}
                    <li>{{firstName}} {{lastName}}</li> 
                    <li>@{{ username }}</li>
                {% else %}
                    <li>Firstname Lastname</li>
                    <li>@Username</li>
                {% endif %}
                {% if unfollowFlag is defined %}
                <a class="action--unfollow" href="">Unfollow</a>
                {% endif %}
                {% if followFlag is defined %}
                <a class="action--follow" href="">Follow</a>
                {% endif %}
            </ul>
        </div>
{% endblock %}
