
{% block profile_tab %}
    <a href="/profile/show/{{id}}">
        <div class="profile__tab">
            <img src="{{ asset('/images/zuck_image.png') }}" alt="">
            <ul>
                {% if firstName is defined %}
                    <li>{{firstName}} {{lastName}}</li> 
                    <li>@{{ username }}</li>
                {% else %}
                    <li>Firstname Lastname</li>
                    <li>@Username</li>
                {% endif %}
                {% if unfollowFlag is defined %}
                <a class="action--unfollow" href="">Unfollow</a>
                {% endif %}
                {% if followFlag is defined %}
                <a class="action--follow" href="">Follow</a>
                {% endif %}
            </ul>
        </div>
    </a>
{% endblock %}
