

{% block sidebar_left %}
<ul class="sidebar--left">
    <li class="action">
        <a href={{path1}}>
            <img src= {{url1}}  alt="">
            <span>{{text1}}</span>
        </a>
    </li>
    <li class="action">
        <a href={{path2}}> 
            <img src={{url2}}  alt="">
            <span>{{text2}}</span>
        </a>
    </li>
    <li class="action">
        <a href={{path3}}>  
            <img src={{url3}}  alt="">
            <span>{{text3}}</span>
        </a>
    </li>
    <li class="action">
        <a href={{path4}}>        
            <img src={{url4}}  alt="">
            <span>{{text4}}</span>
        </a>
    </li>
        <li class="action">
        <a href={{path5}}>        
            <img src={{url5}}  alt="">
            <span>{{text5}}</span>
        </a>
    </li>
</ul>
{% endblock %}
